[submodule "third_party/robot_lab"]
	path = third_party/robot_lab
	url = https://github.com/RuiyangHuang0208/b2w_vln.git
[submodule "third_party/InternNav"]
	path = third_party/InternNav
	url = https://github.com/InternRobotics/InternNav.git
[submodule "third_party/unitree_ros"]
	path = third_party/unitree_ros
	url = https://github.com/unitreerobotics/unitree_ros.git
