[submodule "third_party/robot_lab"]
	path = third_party/robot_lab
	url = https://github.com/RuiyangHuang0208/b2w_vln.git
[submodule "third_party/InternNav"]
	path = third_party/InternNav
	url = https://github.com/InternRobotics/InternNav.git
[submodule "third_party/unitree_ros"]
	path = third_party/unitree_ros
	url = https://github.com/unitreerobotics/unitree_ros.git
[submodule "third_party/TIC-VLA"]
	path = third_party/TIC-VLA
	url = https://github.com/ucla-mobility/TIC-VLA.git
[submodule "third_party/NaVILA"]
	path = third_party/NaVILA
	url = https://github.com/AnjieCheng/NaVILA.git
[submodule "third_party/Uni-NaVid"]
	path = third_party/Uni-NaVid
	url = https://github.com/jzhzhang/Uni-NaVid.git
[submodule "third_party/OmniVLA"]
	path = third_party/OmniVLA
	url = https://github.com/NHirose/OmniVLA.git
[submodule "third_party/MobileVLA-R1"]
	path = third_party/MobileVLA-R1
	url = https://github.com/AIGeeksGroup/MobileVLA-R1.git
